.App {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
    padding: 2rem;
}

.master {
    grid-area: 1 / 1 / 2 / 3;
    border: 1px solid black;
    padding: 1rem;
}

.master-volume {
}

.master-wave {
    margin-bottom: 2rem;
}

.filters {
    grid-area: 1 / 3 / 2 / 4;
    border: 1px solid black;
    padding: 1rem;
}

.filters-lowpass {
    margin-bottom: 2rem;
}

.reverb {
    grid-area: 1 / 4 / 2 / 5;
    border: 1px solid black;
    padding: 1rem;
}

.delay {
    grid-area: 2 / 3 / 3 / 4;
    border: 1px solid black;
    padding: 1rem;
}

.delay-time {
    margin-bottom: 2rem;
}

.delay-feedback {
    margin-bottom: 2rem;
}

.scope {
    grid-area: 2 / 1 / 3 / 3;
    border: 1px solid black;
    padding: 1rem;
}

.distortion {
    grid-area: 2 / 4 / 3 / 5;
    border: 1px solid black;
    padding: 1rem;
}